# -*- coding: utf-8 -*-
{% if localtime or username %}
"""
{% if localtime %}
Created on {{localtime}}
{% endif %}

{% if username %}
@author: {{username}}
{% endif %}
"""
{% endif %}
{% if import %}
{% if import['builtin_modules'] %}
{% for module in import['builtin_modules'] %}
import {{module}}
{% endfor %}
{% endif %}
{% if import['builtin_objects'] %}
{% for module, objects in import['builtin_objects'].items() %}
from {{module}} import {{objects | join(', ')}}
{% endfor %}
{% endif %}
{% if import['custom_modules'] %}
{% for module in import['custom_modules'] %}
import {{module}}
{% endfor %}
{% endif %}
{% if import['custom_objects'] %}
{% for module, objects in import['custom_objects'].items() %}
from {{module}} import {{objects | join(', ')}}
{% endfor %}
{% endif %}


{% endif %}
{% if tables %}
{% for table in tables %}
class {{table['class_name']}}{% if table['parents'] %}({{ table['parents']|join(', ') }}){% endif %}:
    __tablename__ = "{{table['name']}}"
    {% if table['columns'] %}
    {% for column in table['columns'] %}
    {{column['name']}} = Column({{column['type']}}{% if column['primary_key'] == 1 %}, primary_key=True{% endif %}{% if column['autoincrement'] and column['autoincrement'] != 'auto' %}, autoincrement = {{column['autoincrement']}}{% endif %}{% if column['nullable'] == False %}, nullable = False{% endif %})
    {% endfor %}
    {% endif %}


{% endfor %}
{% endif %}
