    @constructor({{cid}}, '{{sname}}')
    def struct_{{cid}}(self):
        return Struct(
            {% for item in struct %}
            '{{item[0]}}' / {{item[1]-}}
            {% if item[0] in flags %}
            {{-','}}
            {% for name, value in flags[item[0]].items() %}
                                {{name}}={{value-}}
                                {% if not loop.last %}
                                {{-','}}
                                {% else %}
                                {{-')'-}}
                                {% endif %}
            {% endfor -%}
            {% endif %}{{- ',' if not loop.last else ')' }}
            {% endfor %}
